* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.landing-container {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 360px;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    color: #333;
    font-size: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    width: 48%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 1rem;
}

.btn:hover {
    background-color: #0056b3;
}