<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Airport Chatbot</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="landing-container">
        <h1>Welcome to Airport Chatbot</h1>
        <p>Your personal assistant for airport queries and information. Get real-time updates and assistance with your travel needs.</p>
        <div class="buttons">
            
            <a href="/Login " class="btn">Login</a><br>
            <a href="/signup" class="btn">Sign Up</a>
        </div>
    </div>
</body>
</html>
